$primary-blue: #336fa3;

html {
  font-family: 'Roboto';
}

.container {
  text-align: left;
}

/***************************** HeaderSection *****************************/

.mainNav {
  position: relative;
  background: $primary-blue;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: auto;
}

/**************************** HomeSection ****************************/

.backgroundImgHome {
  width: 100%;
  height: 100vh;
  background: orange;
  position: relative;
}

.leftArrow {
  position: absolute;
  top: 48vh;
  left: 5%;
}

.rightArrow {
  position: absolute;
  top: 48vh;
  right: 5%;
}