@import '../theming/Colors.module.scss';

.backgroundImgHome {
  width: 100%;
  height: calc(100vh - 48px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/img1.jpeg');
  position: relative;
}

.mainTitleName {
  text-transform: uppercase;
  text-align: center;
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  opacity: 0.01;
}

.adjectives {
  margin-top: 40px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.buttons {
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.workButton {
  border: 1px solid white;
  padding: 10px 20px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.workButton::after {
  content: '';
  position: absolute;
  left: 0;
  top: 55px;
  width: 0px;
  height: 2px;
  background: white;
  transition: all 300ms;
  visibility: hidden;
}

.workButton:hover::after {
  width: 100%;
  visibility: visible;
}

.blogButton {
  border: 1px solid white;
  padding: 10px 20px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.blogButton::after {
  content: '';
  position: absolute;
  left: 0;
  top: 55px;
  width: 0px;
  height: 2px;
  background: white;
  transition: all 300ms;
  visibility: hidden;
}

.blogButton:hover::after {
  width: 100%;
  visibility: visible;
}

.socialIconsContainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.circleContainer {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 300ms;
}

.circleContainer:hover {
  background: white;

  .icon {
    color: orange;
  }
}

.icon {
  color: white;
  font-size: 22px;
  padding-top: 9px;
}

.paddingTop {
  padding-top: 25vh;
  display: flex;
  justify-content: space-evenly;
}

.trailText {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}