@import '../theming/Colors.module.scss';

.mainNav {
  position: relative;
  background: $primary-blue;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: auto;
}

.indicatorColor {
  background-color: #F07D2C !important;
}